<h1>Listing urls</h1>
<%= link_to 'Clubs', clubs_path %>
<%= link_to 'Players', players_path %>
<%= will_paginate @urls %>
<table>
  <tr>
  </tr>

<% for url in @urls %>
  <tr>
    <td><%= url.url %></td>
    <td><%= url.visited %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New url', new_url_path %>
